body {
    background-color: antiquewhite;
}

p {
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    text-align: center;
}

header {
    background-color: aqua;
}

#content {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}